.cor-tema, .waves-effect.waves-cor-tema .waves-ripple{
    background-color: #2196f3 !important;
}
.titulo {
    padding-top: 10px;
}
.material-icons{
    font-size: 40px;
}
.social{
    font-size: 10px;
}
.card-panel{
    padding: 12px;
}
table.grid-view tr td.grid-action{
    width:1%;
    white-space:nowrap;
}
.modal .modal-content, .modal .modal-loading {
    padding: 24px;
}
