<!DOCTYPE html>
<html>
    <head>
        <title>Auditoria</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
        <script src="js/slider.js"></script>
        <link rel="stylesheet" type="text/css" href="estilo/Estilo.css"/>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="titulo nav-wrapper valing-wrapper center-align">
                    <h3 class="white-text">Auditoria</h3>
                    <h5 class="white-text">"Auditorando as auditorias auditadas"</h5>
                    <br>
                </div>
            </div>
        </header>
        <section>
            <article>
                <header>
                    <div class="titulo nav-wrapper valing-wrapper center-align">
                        <h5 class="white-text">Cadastro de produto</h5>
                        <br>
                    </div>
                </header>
                <div class="container">
                    <div class="row center-align">
                        <h5 class="white-text">Cadastrar cidade</h5>
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="Nome" id="nome" type="text" class="validate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <select class="browser-default col s6">
                                    <option value="" selected>Selecione o estado</option>
                                    <option value="">Selecione</option>
                                    <option value="AC">Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espirito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PR">Paraná</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="CEP" id="cep" type="number" class="validate">
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Auditoria SC ltda</h5>
                        <p class="grey-text text-lighten-4">Endereço do seu Pedro </p>
                        <p class="grey-text text-lighten-4">Fone: (XX) 0000-0000</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Fique conectado:</h5>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="social grey-text text-lighten-3" href="#!"><img src="images/fb.png"></a>
                        <a class="social grey-text text-lighten-3" href="#!"><img src="images/inst.png"></a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2014 Copyright Text | <a class="grey-text text-lighten-4" href="https://www.facebook.com/kelvin.eger.5">Kelvin Eger</a>
                    <a class="grey-text text-lighten-4 right" href="cadastra_cidade.html"><i class="material-icons">publish</i></a>
                </div>
            </div>
        </footer>
    </body>
</html>
