<!DOCTYPE html>
<html>
    <head>
        <title>Auditoria</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
        <script src="js/slider.js"></script>
        <link rel="stylesheet" type="text/css" href="estilo/Estilo.css"/>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="titulo nav-wrapper valing-wrapper center-align">
                    <h3 class="white-text">Auditoria</h3>
                    <h5 class="white-text">"Auditorando as auditorias auditadas"</h5>
                    <br>
                </div>
            </div>
        </header>
        <section>
            <article>
                <header>
                    <div class="titulo nav-wrapper valing-wrapper center-align">
                        <h5 class="white-text">Listagem Vendas</h5>
                        <br>
                    </div>
                </header>
                <div class="container">
                    <div class="row center-align">
                        <br>
                        <table class="responsive-table highlight striped">
                            <thead>
                                <tr>
                                    <th data-field="cod">Código Venda</th>
                                    <th data-field="nome">Nome Cliente</th>
                                    <th data-field="preco">Valor Total</th>
                                    <th data-field="data">Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>3252</td>
                                    <td>Eclair</td>
                                    <td>$15.87</td>
                                    <td>15/01/2016</td>
                                </tr>
                                <tr>
                                    <td>3612</td>
                                    <td>Jellybean</td>
                                    <td>$333.76</td>
                                    <td>01/03/2016</td>
                                </tr>
                                <tr>
                                    <td>3436</td>
                                    <td>Lollipop</td>
                                    <td>$17.00</td>
                                    <td>14/01/2016</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </article>
        </section>
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Auditoria SC ltda</h5>
                        <p class="grey-text text-lighten-4">Endereço do seu Pedro </p>
                        <p class="grey-text text-lighten-4">Fone: (XX) 0000-0000</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Fique conectado:</h5>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="social grey-text text-lighten-3" href="#!"><img src="images/fb.png"></a>
                        <a class="social grey-text text-lighten-3" href="#!"><img src="images/inst.png"></a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2014 Copyright Text | <a class="grey-text text-lighten-4" href="https://www.facebook.com/kelvin.eger.5">Kelvin Eger</a>
                    <a class="grey-text text-lighten-4 right" href="listagem_produtos.html"><i class="material-icons">publish</i></a>
                </div>
            </div>
        </footer>
    </body>
</html>
