<!DOCTYPE html>
<html>
    <head>
        <title>Auditoria</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script type="text/javascript" src="jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
        <script src="js/slider.js"></script>
        <link rel="stylesheet" type="text/css" href="estilo/Estilo.css"/>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="titulo nav-wrapper valing-wrapper center-align">
                    <h3 class="white-text">Auditoria</h3>
                    <h5 class="white-text">"Auditorando as auditorias auditadas"</h5>
                    <br>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="center-align">
                <b><p>Efetuar Login</p></b>
            </div>
            <form class="" method="post" action="#">
                <div class="input-field">
                    <i class="material-icons prefix">perm_identity</i>
                    <input id="username" name="username" type="text">
                    <label for="username">Usuário</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <input id="password" name="senha" type="password">
                    <label for="password">Senha</label>
                </div>
                <button class="btn grey waves-effect" type="submit" style="width:100%; background-color:#2196f3 !important;" name="action">Entrar</button>
            </form>
        </div>
        <footer class="page-footer">
            <div class="container page-footer">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Auditoria SC ltda</h5>
                        <p class="grey-text text-lighten-4">Endereço do seu Pedro </p>
                        <p class="grey-text text-lighten-4">Fone: (XX) 0000-0000</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Fique conectado:</h5>
                        <a class="social grey-text text-lighten-3" href="#!"><img src="images/fb.png"></a>
                        <a class="social grey-text text-lighten-3" href="#!"><img src="images/inst.png"></a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2014 Copyright Text | <a class="grey-text text-lighten-4" href="https://www.facebook.com/kelvin.eger.5">Kelvin Eger</a>
                    <a class="grey-text text-lighten-4 right" href="index.html"><i class="material-icons">publish</i></a>
                </div>
            </div>
        </footer>
    </body>
</html>
