<footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Auditoria SC ltda</h5>
                        <p class="grey-text text-lighten-4">Endereço do seu Pedro </p>
                        <p class="grey-text text-lighten-4">Fone: (XX) 0000-0000</p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2014 Copyright Text | <a class="grey-text text-lighten-4" href="https://www.facebook.com/kelvin.eger.5">Kelvin Eger</a>
                    <a class="grey-text text-lighten-4 right" href="listagem_produtos.html"><i class="material-icons">publish</i></a>
                </div>
            </div>
        </footer>
    </body>
</html>
