footer.page-footer, header, .nav-wrapper{
    background-color: #2196f3;
}
.titulo {
    padding-top: 10px;
}
li{
    margin-left: 15px;
}
.material-icons{
    font-size: 40px;
}
.social{
    font-size: 10px;
}

.promo i {
    margin: 40px 0;
    color: #ee6e73;
    font-size: 7rem;
    display: block;
}
